.friendsItem {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
}

.active {
  padding: 5px 5px;
  border-radius: 50%;
  color: #ffffff;
}

.friendOnline {
  background-color: green;
}

.friendOffline {
  background-color: red;
}

.avatar {
  width: 50px;
  height: auto;
}

.friendsName {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
